<h1 style="color:#DBAD6A">Bardia Pourvakil</h1>
<div class="article-link-container">
  <ul>
    <% @articles.each do |article| %>
    <li class="article-link-list-item">
      <%= link_to article.title, article_path(article), class: "article-link" %>
    </li>
    <% end %>
  </ul>
</div>