<h1>
  <%= @article.title %>
</h1>
<p style="font-style: italic">
  Most recently updated on <%= @article.updated_at.strftime("%d.%m.%y") %>
</p>
<p>
  <%= @article.text %>
</p>

<%= link_to 'Back', articles_path %>