<div class="article-container">
  <h1 id="article_title">
    <%= @article.title %>
  </h1>
  <p>
    <%= @article.text %>
  </p>
</div>
<div class="back-button-container">
  <%= link_to 'Back', articles_path, class: "back-button" %>
</div>