/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html { 
  font-family: -apple-system-font sans-serif;
  margin-top: 20px;
  background: #628395;
}


@media screen and (min-width : 320px) and (max-width : 767px) {
  html {
    margin-left: 2%;
    margin-right: 2%;
    font-size: 100%;
  }
  h1 {
    font-size: 3em;
  }
  a {
    font-size: 2em;
  }
}
  

@media  screen and (min-width : 768px) and (max-width : 1223px) {
  html {
    margin-left: 10%;
    margin-right: 10%;
  }
  h1 {
    font-size: 2.5em;
  }
  a {
    font-size: 1.5em;
  }
}
  
@media screen and (min-width : 1224px) {
  html {
    margin-left: 15%;
    margin-right: 15%;
  }
  h1 {
    font-size: 2em;
  }
  a {
    font-size: 1.25em;
  }
}