// Body links
a {
  color: #CF995F;
  border-bottom: 1px solid #CF995F;
  text-decoration: none;
  &:hover {
    border-bottom: 2px solid #CF995F;
    cursor: pointer
  }
}

// Index links
.article-link {
  text-decoration: none;
  border-bottom: none;
  line-height: 1.5rem;
}

.article-link-list-item {
  list-style-type: none;
}

// Delete links
.delete_link {
  color: #DD614A;
  border-bottom: 1px solid #DD614A;
  &:hover {
    border-bottom: 2px solid #DD614A;
    cursor: pointer
  }
}

// Article container
.article-container {
  background-color: #fff;
  border-radius: 0.3rem;
  box-shadow: 0.2rem 0.2rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1); 
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
}

h1 {
  color:#DBAD6A;
}

// Title input
#article_title {
  color: #CF995F;
  width: 90%;
  min-height: 50px;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  border: none;
  &:focus {
    outline-color: none;
    outline-style: none;
    outline-width: 0px;
    outline-offset: -0px;
  }
}


// New article button container
#new-button-container {
  position: fixed;
  bottom: -0.1rem;
  right: 10px;
  z-index: 10;
  padding: 0;
  white-space: nowrap;
}

// New article button
#new-button {
  background: #DBAD6A;
  border: none;
  color: white;
  text-decoration: none;
  margin: 4px 4px;
  border-radius: 75px;
  cursor: pointer;
  &:hover {
    cursor: pointer;
    background: #CF995F;
  }
  height: 150px;
  width: 150;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

// Publish changes button container
#publish-button-container {
  position: fixed;
  bottom: -0.1rem;
  right: 10px;
  z-index: 10;
  padding: 0;
  white-space: nowrap;
}

// Publish changes button
#publish-button {
  background: #DBAD6A;
  border: none;
  color: white;
  text-decoration: none;
  margin: 4px 4px;
  border-radius: 25px;
  cursor: pointer;
  &:hover {
    cursor: pointer;
    background: #CF995F;
  }
  height: 50px;
  width: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.back-button-container {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 20px;
}

.back-button {
  text-decoration: none;
  border-bottom: none;
  color: #DBAD6A;
}

figcaption {
  display: none;
}